<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>素数日のやつ</title>
  </head>
  <body>
      <div class="mount-point"/>
  </body>
</html>
